language: python
addons:
  apt:
    packages:
    - python3-setuptools
before_install:
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew list python3 &>/dev/null || brew
  install python3; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install mysql; fi
install:
- python3 --version
- pip3 install -r requirements/base.txt
script:
- fbs freeze --debug
- fbs installer
matrix:
  include:
#   - dist: trusty
#     python: '3.5'
  - os: osx
    language: generic
    env: TOXENV=py36
  - os: windows
    language: generic
  allow_failures:
  - os: windows
deploy:
  provider: releases
  skip_cleanup: true
  api_key: $GITHUB_OAUTH_TOKEN
  file:
    - "target/Cedar.dmg"
  on:
    repo: wyatt-ai/Cedar
    tags: true
