language: python
addons:
  apt:
    packages:
    - python3-setuptools
before_install:
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew list python3 &>/dev/null || brew
  install python3; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install mysql; fi
install:
- python3 --version
- pip3 install -r requirements/base.txt
script:
- fbs freeze --debug
- fbs installer
matrix:
  include:
#   - dist: trusty
#     python: '3.5'
  - os: osx
    language: generic
    env: TOXENV=py36
  - os: windows
    language: generic
  allow_failures:
  - os: windows
deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: dWzp0qBicp+5R0w7DehnL7VoFH9w4sdZjSQAyn/XCwpSs21xOX+dTN8CkYI0eyJ8FAdDjnSGVnv0baofT3ypBqEBS7733jKx7VtDHbejLV+FHi/vVtxcWWvhEJhX90pQtneySF3D/6d6GGeUeD+atFAaj/Gsk+8nzgbazKsW1A
aMjF/Iw8UXJocywQgiyUjpRnepxNdFGcjwIy7sJnxuJ7yIUemJzcKHHVMOjrhJ/KJjNJTMjjcL+ND+l3rV7ADqaXgj9wG+vLCajpMbbPTbYTCWQmX0YDLIdGyUyoE+QyzYQIYsXcqsPqwV+car4Yk10AOUQEUWJiN9hLJojPhnycyvM/vREEmy
D945MZ570ebg3p7cv3P0kwBB3SJh6mJ2TYYlSaD2NRCFSkkeshxFkdbmeQnwVUFFDlgMguztrEkHbUBWJHa5RQ8RASUbaTii+tHTLoyZvI693VB+pfvTJIcdWMAOm+ybXi6j8ELtmyKd+T5LpQ2ZkJLfMMorKHsQiyU7EABYfKnh9JEA7SXMNd
nXng/0GHXYX5HUlGEELP3XEpDCTS/eNed7IWq/4yFqVP8vWO2U2ZYCpdfYQmjL1dzDKdQfbfLdroOs0IY22rzLRRoWmCP6KIATYsWzDf4gu0Pzpsh3nfgvBEnEIFTFQfYgXf3H/D36HsWe4iJI8ig=
  file:
    - "target/Cedar.dmg"
  on:
    repo: wyatt-ai/Cedar
    tags: true
