language: python
python:
  - "3.5"
  - "3.6"
install:
  - pip install -r requirements/base.txt

matrix:
	include:
		- os: osx
		- dist: trusty
		- dist: xenial
		- os: windows

notifications:
  email: on_failure

script: 
	- fbs freeze --debug