language: python

# linux deps
addons:
  apt:
    packages:
      - python3-setuptools

# osx deps
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew list python3 &>/dev/null || brew install python3; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install mysql; fi

install:
  - python3 --version
  - pip3 install -r requirements/base.txt

script: 
  - fbs freeze --debug

matrix:
  include:
    - dist: trusty
      python: "3.5"
    #- dist: trusty # 3.6 trusty has an issue with setuptools
    #  python: "3.6"
    - os: osx
      language: generic
      env: TOXENV=py36
    - os: windows
      language: generic
  allow_failures:
    - os: windows
